* {
    margin: 0;
}
html body {
    background-color: whitesmoke;
}

html {
    scroll-behavior: smooth;
}

.cards {
    background-color: white;
    box-shadow: 0px 0px 7px 5px rgba(126, 126, 126, 0.103);
    border-radius: 1em;
}

.card-white {
    background-color: white;
    border-radius: 1em;
}
.drop-shadow {
    box-shadow: 0px 0px 7px 5px rgba(126, 126, 126, 0.103);
}

.modal-content {
    border-radius: 16px !important;
}
.bg-yellow {
    background-color: yellow;
}

.bg-white-70 {
    background-color: rgba(255, 255, 255, 0.4);
}
.bg-white-70:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

html,
body,
.h100 {
    min-height: 100% !important;
    height: 100% !important;
}

.p-regular {
    font-family: "Poppins", sans-serif !;
    font-weight: 300;
}
.p-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.p-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}
.p-extra-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
}

.p-dark {
    color: #333;
}
.p-soft {
    color: #555;
}
.p-white {
    color: #fff !important;
}
.p-white-70 {
    color: rgba(255, 255, 255, 0.7) !important;
}

.border-white {
    border: 2px solid #fff;
}
.border-1 {
    border: 1px solid rgba(0, 0, 0, 0.308);
}
.border-white {
    border: 2px solid #fff;
}

.btn-no-border {
    border: none;
}
.btn-no-border:focus {
    border: none !important;
    outline: none;
}

.border-bottom {
    background-color: #333;
    height: 2px;
    margin: 0;
    width: 100%;
}
.rounded {
    border-radius: 10em !important;
}
.rounded-2 {
    border-radius: 5px !important;
}
.rounded-20 {
    border-radius: 16px !important;
}
.rounded-30 {
    border-radius: 30em !important;
}
.rounded-100 {
    border-radius: 100em !important;
}

.judul {
    font-size: 16px;
}

.tulisan {
    font-size: 14px;
}

.tulisan-kecil {
    font-size: 10px;
}
.thumbnail {
    width: 100%;
    /* background-image: url("https://lh5.googleusercontent.com/p/AF1QipOytNqnIn4abYaiTZFr9AiYaihvbo0R69xnjSTq=w408-h306-k-no");
    max-height: 150px; */
}

.card-thumb {
    height: 100%;
    text-decoration: none;
}

.card-thumb:hover {
    background-color: rgb(249, 251, 255);
    text-decoration: none;
    cursor: pointer;
}
.card-thumb:focus {
    border: none !important;
    text-decoration: none;
}

.hospital-card {
    min-height: 170px;
    width: 225px;
}

/* .hospital-kartu {
    width: 200px;
    height: 230px;
    background-color: white;
} */

button {
    border: none;
}
/* 
.navbar-base {
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    box-shadow: 2px 0px 7px 5px rgba(126, 126, 126, 0.103);
}

nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.85);
}

nav a:hover {
    text-decoration: none;
    color: #fff;
}

.nav-active {
    color: #fff;
    border-width: 0px 0px 2px 0px;
    border-color: #fff;
    border-style: solid;
    padding-bottom: 5px;
}
.nav-1,
.nav-2,
.nav-3 {
    display: flex;
} */

/* index view */
.hero-container {
    width: 100%;
    height: 300px;
    position: relative;
}

.hero-title {
    z-index: 1;
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(
        90deg,
        rgba(2, 47, 143, 1) 0%,
        rgba(0, 164, 255, 0.4430147058823529) 100%
    );
    /* background: linear-gradient(
        90deg,
        rgba(2, 47, 143, 1) 0%,
        rgba(0, 164, 255, 1) 100%
    ); */
    border-radius: 1em;
}

/* .hero-judul {
    font-size: 50vw;
} */

.hero-img {
    width: 100%;
    position: absolute;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
}

.sub-title {
    width: fit-content;
}

/* .hero-body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
} */

.input-style {
    border: none;
    background-color: transparent;
}

.input-style:focus {
    border: none;
}

.custom-select {
    padding: none;
    margin: none;
    background-color: transparent !important;
    outline: none;
}

.custom-select:focus {
    background-color: transparent !important;
    outline: none;
}

.link:hover {
    text-decoration: none;
}

.blue-60 {
    background-color: rgba(0, 166, 255, 0.164);
}
.history-body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll;
    height: 500px; /* Add vertical scrollbar */
    scroll-behavior: smooth;
}

.history-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(90, 90, 90, 0.3);
    background-color: #f5f5f5;
}

.history-body::-webkit-scrollbar {
    width: 3px;

    background-color: #f5f5f5;
}

.history-body::-webkit-scrollbar-thumb {
    background-color: #616060;
    border: 2px solid #555555;
    border-radius: 1.5px;
}

/* navbarrr */
#scanfcode {
    border-radius: 0px;
    background: #fff;
    padding: 10px;
    font-size: 17px;
}
/* logo or main heading */
#logo {
    font-size: 20px;
    font-weight: bolder;
    color: #00004d;
    letter-spacing: 2px;
}
/* navigation links*/
#link a {
    color: #01325d;
    margin: 0 20px 0 10px;
    letter-spacing: 1.5px;
}
#link a:hover {
    text-decoration: none;
    color: rgb(223, 240, 255);
}
/* navigation link with right border */
#first-link {
    padding-right: 6px;
    border-right: solid 1px #ccc;
}
/* sign up link button and toggle button */
#button-link,
#togle-button {
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    line-height: 17px;
}

#toggle-button:focus {
    outline: none;
    background-color: #ffffff50;
}
#button-link a {
    color: #f2f2f2;
}

.text-tengah {
    /* background-color: aqua; */
    text-align: center;
    display: block;
    margin: auto;
}
/* end navbar */

/* footer */
.footer {
    background-color: rgba(2, 47, 143, 1);
    margin-top: 20px;
}

/* tablet */
@media (max-width: 768px) {
    .history-body {
        overflow: hidden;
        display: none;
    }
    .riwayat {
        display: none;
    }
    .hospital-card {
        width: 180px;
    }
}
